<div class="title">
  <h4>Long Notes</h4>
  <div class="action">
    <% if policy(LongNote).create? %>
      <%= link_to new_long_note_path do %>
        <i class="far fa-plus-square"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="search">
  <%= form_tag long_notes_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "search-bar",
      placeholder: "Chercher parmi les notes"
    %>
    <%= submit_tag "Chercher", class: "btn button" %>
  <% end %>
</div>

<div class="long_notes-wrapper">
  <p><%= @message %></p>
  <% @long_notes.each do |long_note|%>
    <div class="long_note">
      <%= link_to long_note_path(long_note) do %>
        <p>
          <strong>
            <%= long_note.updated_at.day %>
            of
            <%= I18n.t('date.month_names')[long_note.updated_at.month] %>
            <%= long_note.updated_at.year %> :
          </strong>
        <br>
          <em><%= long_note.title %></em>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

----

<div class="long_notes-wrapper">
  <% @long_notes.drop(5).each do |long_note|%>
    <div class="long_note">
      <%= link_to long_note_path(long_note) do %>
        <p>
          <strong>
            <%= long_note.updated_at.day %>
            of
            <%= I18n.t('date.month_names')[long_note.updated_at.month] %>
            <%= long_note.updated_at.year %> :
          </strong>
        <br>
          <em><%= long_note.title %></em>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

