<div class="title">
  <h4>Long Notes</h4>
  <div class="action-create">
    <% if policy(LongNote).create? %>
      <%= link_to new_long_note_path do %>
        <h4><i class="far fa-plus-square"></i></h4>
      <% end %>
    <% end %>
  </div>
</div>

<div class="long_notes-wrapper">
  <% @long_notes.each do |long_note|%>
    <div class="long_note">
      <%= link_to long_note_path(long_note) do %>
        <p>
          <strong>
            <%= long_note.created_at.day %>
            of
            <%= I18n.t('date.month_names')[long_note.created_at.month] %>
            <%= long_note.created_at.year %> :
          </strong>
        <br>
          <em><%= long_note.title %></em>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

<div>
  <%= render 'show' %>
</div>
