<div class="card">
  <p>
    <strong>
      <%= @long_note.created_at.day %>
      of
      <%= I18n.t('date.month_names')[@long_note.created_at.month] %>
      <%= @long_note.created_at.year %> :
    </strong>
    <em><%= @long_note.title %></em>
  </p>
  <p><%= @long_note.description %></p>
  <%# @article.photos.each do |photo| %>
    <%#= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <%# end %>
  <div class="action-box">
    <div class="action">
      <% if policy(@long_note).edit? %>
        <%= link_to edit_long_note_path(@long_note) do %>
          <i class="far fa-edit"></i>
        <% end %>
      <% end %>
    </div>
    <div class="action">
      <% if policy(@long_note).destroy? %>
        <%= link_to @long_note, method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

