<%= simple_form_for @objectif do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :date, label: "Pour quand" %>
  <%= f.button :submit, class: "button" %>
<% end %>

<!-- <li class="action">
  <%#= link_to "#" do %>
    <i class="far fa-save"></i>
  <%# end %>
</li> -->
