<div class="title">
  <h4>Objectives</h4>
  <div class="action">
    <% if policy(Objectif).create? %>
      <%= link_to new_objectif_path do %>
        <i class="far fa-plus-square"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="objectives-wrapper">
  <% @objectives.each do |objectif|%>
    <div class="my-card objectif">
      <p class="small">
        Created the <%= objectif.created_at.day %>th of
        <%= I18n.t('date.month_names')[objectif.created_at.month] %>
        <%= objectif.created_at.year %>
      </p>
      <h5><%= objectif.title %></h5>
      <p><%= objectif.description %></p>
      <p><em><i class="fas fa-long-arrow-alt-right"></i><%= objectif.date %></em></p>
      <div class="action-box">
        <div class="action">
          <% if policy(objectif).edit? %>
            <%= link_to edit_objectif_path(objectif) do %>
              <i class="far fa-edit"></i>
            <% end %>
          <% end %>
        </div>
        <div class="action">
          <% if policy(objectif).destroy? %>
            <%= link_to objectif, method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
