<div class="tools-icon">
  <%= image_tag "tools.png", alt: "tools" %>
</div>
<div class="right-bar">
  <div class="username">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, data: { confirm: "You are signing out. Are you sure?" } do %>
        <p><%= current_user.username %></p>
      <% end %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
  <%= render 'shared/tools' %>
</div>
