<div class="tools-icon">
  <%= image_tag "tools.png", alt: "tools" %>
</div>
<div class="right-bar">
  <div class="username">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, data: { confirm: "You are signing out. Are you sure?" } do %>
        <p><%= current_user.username %></p>
      <% end %>
    <% else %>
      <%= link_to "Login", new_user_session_path %>
    <% end %>
  </div>
  <div class="percent box">
    <p>- 24%</p>
    <div class="field">
      <div class="text-field">
        <input id="percent" type="number">
      </div>
      <div class="icon">
        <i id="go-percent" class="far fa-play-circle"></i>
      </div>
    </div>
    <div id="result-percent" class="result">
    </div>
  </div>
  <div class="chrono box">
    <div class="controls">
      <i class="far fa-play-circle"></i>
      <i class="far fa-stop-circle"></i>
    </div>
    <div class="chrono-image">
      <%= image_tag "stopwatch.png", alt: "chrono" %>
    </div>
  </div>
  <div class="rule-of-eight box">
    <p>Rule of Eight</p>
    <div class="field">
      <div id="result-sign"></div>
      <div class="text-field">
        <input id="input-eight" type="number">
      </div>
      <div class="icon">
        <i id="go-eight" class="far fa-play-circle"></i>
      </div>
    </div>
    <div id="result-eight" class="result"></div>
  </div>
</div>
