<div class="top-bar">
  <ul class="top-menu">
    <li class="logo">
      <%= link_to "/" do %>
        <%= image_tag "logo.png", alt: "logo-bat" %>
      <% end %>
    </li>
    <li class="menu-item">
      <%= link_to to_do_lists_path do %>
        <%= image_tag "list.png", alt: "list" %>
      <% end %>
    </li>
    <li class="menu-item">
      <%= link_to objectives_path do %>
        <%= image_tag "mission.png", alt: "mission" %>
      <% end %>
    </li>
    <li class="menu-item">
      <%= link_to "#" do %>
        <%= image_tag "sketchbook.png", alt: "sketchbook" %>
      <% end %>
    </li>
    <li class="menu-item">
      <%= link_to "#" do %>
        <%= image_tag "notebook.png", alt: "notebook" %>
      <% end %>
    </li>
    <li class="menu-item">
      <%= link_to "#" do %>
        <%= image_tag "post-it.png", alt: "post-it" %>
      <% end %>
    </li>
  </ul>
</div>
