<div class="title">
  <h4>To do lists</h4>
  <div class="action">
    <% if policy(ToDoList).create? %>
      <%= link_to new_to_do_list_path do %>
        <i class="far fa-plus-square"></i>
      <% end %>
    <% end %>
  </div>
</div>

<div class="grid-3fr-wrapper todos-container">
  <% @to_do_lists.each do |list|%>
    <div class="card todos">
      <div class="task-wrap">
        <% if policy(ToDoList).edit? %>
          <%= link_to edit_to_do_list_path(list) do %>
            <h4><%= list.title %></h4>
          <% end %>
        <% end %>

        <div class="action">
          <% if policy(ToDoList).destroy? %>
            <%= link_to list, method: :delete, remote: true, data: { confirm: "Are you sure?" } do %>
              <i class="far fa-trash-alt"></i>
            <% end %>
          <% end %>
        </div>
      </div>

      <div id="tasks">
        <% list.tasks.order(:status).each do |task| %>
          <%= render 'tasks/show', task: task %>
        <% end %>
      </div>

      <div class="action center">
        <% if policy(Task).create? %>
          <%= link_to new_to_do_list_task_path(list) do %>
            <i class="far fa-plus-square"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

