<!DOCTYPE html>
<html>
  <head>
    <title>Alfred</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>
  <body>
    <% unless action_name == "home" %>
      <div class="side-bars">
        <div class="main-wrapper">
          <%= yield %>
        </div>
        <%= render 'shared/right-bar' %>
      </div>
      <%= render 'shared/top-bar' %>
      <%= render 'shared/flashes' %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
